.App {
  background-image: url("./assets/paradise-nursery.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}

.landing-page {
  text-align: center;
  padding-top: 120px;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 20px;
}
